<% content_for(:html_title) { "#{@user.name}さんのまた行きたいお店" } %>

<div class="col-md-offset-1 col-md-10 col-md-offset-1">
  <div class='row'>
    <div class="page jscroll">
      <% @repeats.each do |t| %>
        <div class="col-xs-4 image_adjust">
          <li><%= t.restaurant.name %></li>
          <li><%= t.restaurant.tag_list %></li>
          <%= link_to '詳細はこちら',restaurant_path(t.restaurant.shop_id) %>
        </div>
        <div class="col-xs-5 image_adjust">
          <li><%= image_tag t.restaurant.image , class: 'img-responsive center-block' %></li>
        </div>
        <div class="col-xs-3">
          <div class="repeat_<%= t.restaurant.id %> under-space">
            <%= render 'restaurants/repeat', restaurant: t.restaurant %>
          </div>
          <div class="want_<%= t.restaurant.id %>">
            <%= render 'restaurants/want', restaurant: t.restaurant %>
          </div>
        </div>
      <% end %>
      <%= paginate @repeats %>
    </div>
  </div>
</div>
<%= render 'shared/pager' %>