<% content_for(:html_title) { "また行きたいランキング" } %>

<div class="col-md-9">
  <% @repeats.each do |t| %>
    <div class='row'>
      <div class="col-xs-4 image_adjust">
        <li><%= t.restaurant.name %></li>
        <li><%= t.restaurant.tag_list %></li>
        <%= link_to '詳細はこちら',restaurant_path(t.restaurant.shop_id) %>
      </div>
      <div class="col-xs-4 image_adjust">
        <li><%= image_tag t.restaurant.image , class: 'img-responsive center-block' %></li>
      </div>
      <div class="col-xs-4">
        <div class="repeat_<%= t.restaurant.id %> float under-space">
          <%= render 'restaurants/repeat', restaurant: t.restaurant %>
        </div>
        <div class="want_<%= t.restaurant.id %> float">
          <%= render 'restaurants/want', restaurant: t.restaurant %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">ジャンルで指定する</h5>
    </div>
    <div class="tag panel-body">
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_cloud_repeats_path(:tag_name => tag.name), :class => css_class %>
      <% end %>
    </div>
  </div>
</div>