<% content_for(:html_title) { "管理者詳細" } %>

<div class="container">
  <h1><strong>管理者詳細画面</strong></h1>

  <h3>ユーザID       <%= @admin.id %><strong>
    <% if @admin.deleted_at.nil? %>
      <td>有効会員</td>
    <% else %>
      <td>無効会員</td>
    <% end %>
  </strong></h3>
  <h3>氏名       <%= @admin.name %></h3>
  <h3>フリガナ    <%= @admin.name_kana %></h3>
  <h3>メールアドレス    <%= @admin.email %></h3>

  <%= link_to "編集する", edit_admin_admin_path(@admin), data: {"turbolinks" => false}, class: "btn btn-primary" %>
</div>