<div class="search">
  <%= form_with url: search_restaurants_path, method: :get, local: true do |f| %>
    <%= f.text_field :name, placeholder: "お店名を入力", class: 'form-control' %>
    <%= f.text_field :freeword1, placeholder: "キーワード（ジャンルなど）", class: 'form-control' %>
    <%= f.text_field :freeword2, placeholder: "キーワード（場所など）", class: 'form-control' %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="genre">
</div>

<div class="rank">
  <%= link_to '行ってみたいランキング', wants_path %>
  <%= link_to 'また行きたいランキング', repeats_path %>
</div>