<% @hash.each do |rest| %>
    <div class="row">
      <div class="col-xs-12">
        <strong><%= p = rest[:name] %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <%= image_tag rest[:image_url][:shop_image1] , class: 'img-responsive center-block' %>
      </div>
      <div class="col-xs-9">
        <li><%= rest[:opentime] %></li>
        <li><% rest[:holiday] %></li>
        <li><%= rest[:category] %></li>
        <li><%= rest[:address] %></li>
        <li><%= rest[:pr][:pr_long] %></li>
        <li><%= link_to 'お得なクーポンはこちら', rest[:coupon_url][:pc] %></li>
        <li><%= link_to 'ぐるなびの詳細ページへ', rest[:url] %></li>
      </div>
    </div>

<h2>gmap</h2>

<style>
  #target {
    width: 550px;
    height: 400px;
  }
</style>
<div id="target"></div>
<ul id="info">
  <li>お店の情報</li>
</ul>

<script
  src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=


  &callback=initMap" async defer></script>
<script>
  function initMap(){
    'use strict';

    var target = document.getElementById('target');
    var map;
    var tokyo = {lat: 35, lng: 135};
    var marker;
    var infoWindow;

    map = new google.maps.Map(target, {
      center: tokyo,
      zoom: 9,
      disableDefaultUI: true,
      zoomControl: true
    });
      marker = new google.maps.Marker({
      position: tokyo,
      map: map
    });
    infoWindow = new google.maps.InfoWindow({
      position: tokyo,
      content: document.getElementById('info')
    });

    infoWindow.open(map);


  }

</script>


<% end %>
<% if @moments %>
<%= @moments[0].title %>
<%= image_tag @moments[0].urlToImage, :size => '300x200' %>
<%= @moments[0].description %>
<%= link_to '記事詳細へ飛ぶ', @moments[0].url %>
<% else %>
<h2>只今関連記事はございません。</h2>
<% end %>


