<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? "Buono #{yield(:html_title)}" : "Buono" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
      <div class="container">
        <footer>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
            </div>
          <% end %>
          <p>©︎buono</p>
        </footer>
      </div>
  </body>
</html>
